:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --prevailing-color: #757575;
  --header-color: #212121;
  --secondary-color: #ffffff;
  --background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --main-background-color: #ffffff;
}

/* GENERAL STYLES */
body {
  font-family: var(--primary-font);
  color: var(--prevailing-color);
  background-color: var(--main-background-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/* HEADER SECTION */
.logo {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.current {
    color:#2196f3;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--prevailing-color);
  list-style-type: none;
}

/* HERO SECTION */
.hero {
  background: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: #2196f3;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188CE8;
}

/* BENEFITS SECTION */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

.benefits-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--prevailing-color);
}

/* WHAT SECTION */
.what-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

/* TEAM SECTION */
.section-team {
  background: var(--team-background-color);
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.bcg-list {
  background-color:var(--main-background-color);
}

.name-header {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prevailing-color);
}

/* FOOTER SECTION */
.lower-bcg {
  background: var(--background-color);
}

.logo-white {
  color: #ffffff;
}

.address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.low-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO PAGE */

/* BUTTON LIST */
.item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: #F5F4FA;
}

.item-btn:hover,
.item-btn:focus {
  color:var(--secondary-color);
  background-color: var(--accent-color);
}

.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.portfolio-item {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--prevailing-color);
}
